.container {
  font-family: 'Pontano Sans', sans-serif;
  color: #222222;
  font-size: 150%;
}
a {
  color: #708090;
}
a.visited {
  color: #778899;
}
h1, h2, h3 {
  text-align: center;
}
.center {
  text-align: center;
}
.displayip {
  font-size: 150%;
}
